/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* body {
  position: relative;
  width: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2022/07/31/08/03/to-do-7355222_1280.jpg');

  background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));
  font-family: 'Montserrat', sans-serif;
} */

body {
  font-weight: 400;
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ececec;
  color: #272727;
  transition: background-color 0.5s;
}

body.dark-mode {
  background-color: #272727;
  color: #eee;
}

body.dark-mode::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  z-index: -1;
}

.container-xl {
  position: relative;
  width: 100%;
  flex: 1;
  /* Take remaining vertical space */
}

.text-center {
  margin-left: auto;
  margin-right: auto;
}

.main {
  position: relative;
  width: 750px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 4rem;
}

.light-mode .main {
  background: #f0f0f0;
}

.dark-mode .main {
  background: #303030;
}

.light-mode .shadow {
  box-shadow: -3px -3px 10px 0px rgba(255, 255, 255, 0.87),
    4px 4px 10px 0px rgba(0, 0, 0, 0.17) !important;
}

.dark-mode .shadow {
  box-shadow: -3px -3px 9px 0px rgba(255, 255, 255, 0.15),
    6px 6px 18px 0px #1e1e1e !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: none;
  padding: 5px 25px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  border: none;
  cursor: pointer;
}

.dark-mode .btn {
  background: linear-gradient(145deg, #1f1f1f, #404040);
}

.btn-sort,
.btn-sort:hover {
  color: #a90bd5;
  border: 1px outset #a90bd5;
}

.clear_btn {
  margin-top: 50px;
}

.btn-danger,
.btn-danger:hover {
  /* background: linear-gradient(145deg, rgb(158, 12, 12) 0%, rgb(244, 5, 5) 100%); */
  color: rgb(218, 79, 79);
  border: 1px outset rgb(218, 79, 79);
}

.btn-success,
.btn-success:hover {
  /* background: linear-gradient(
    145deg,
    rgba(8, 133, 4, 1) 0%,
    rgba(23, 235, 3, 1) 100%
  ); */
  color: #20c820;
  border: 1px outset #20c820;
}

.btn-primary,
.btn-primary:hover {
  color: rgba(1, 110, 225);
  border: 1px outset rgba(1, 110, 225);
}

.btn-success:disabled {
  color: #888;
  pointer-events: none;
}

/* .btn-success:hover {
  border-color: #28a745;
} */

#dueDate {
  width: 140px;
  background: transparent;
  border-radius: 0 0.5rem 0.5rem 0;
  color: blueviolet;
}

.dark-mode .task-input {
  background-color: #5a5a5a;
  border: none;
  color: #fff;
}

.dark-mode .task-input::placeholder {
  color: #ccc;
}

.light-mode .inner-shadow {
  box-shadow: inset 3px 3px 7px #bebebe, inset -3px -3px 7px #ffffff;
}

.dark-mode .inner-shadow {
  box-shadow: inset 3px 3px 7px #1e1e1e, inset -3px -3px 7px #3e3e3e;
}

.light-mode .btn-shadow {
  box-shadow: -2px -2px 3px 0 rgba(255, 255, 255, 1),
    2px 2px 4px 0 rgba(0, 0, 0, 0.35);
}

.light-mode .btn-shadow:hover {
  box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0.7),
    1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.dark-mode .btn-shadow {
  box-shadow: -2px -2px 4px 0px rgba(198, 198, 198, 0.15),
    2px 2px 4px 0 rgba(0, 0, 0, 0.35);
}

.dark-mode .btn-shadow:hover {
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}

#dueDate::placeholder {
  color: blueviolet;
}

.list-group-item {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  text-align: left;
  border-radius: 1rem !important;
  word-break: break-all;
  word-wrap: break-word;
  padding: 0.8rem;
  background-color: #f7f7f7;
}

.dark-mode .list-group-item {
  background-color: #393939;
}

.list-group-item button {
  margin: 0 0.2rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3f0f0;
  color: #272727;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.show {
  display: block;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.group {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.main h2,
h3 {
  font-weight: 600;
}

.completed {
  text-decoration: line-through;
}

.message {
  width: 300px;
  padding: 15px;
  border: 2px dashed white;
  border-radius: 5px;
  background-color: rgb(34, 148, 34);
  color: white;
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 20px;
  font-size: 18px;
}

.success-message {
  background-color: rgb(34, 148, 34);
}

.danger-message {
  background-color: rgb(242, 27, 27);
}

.form-check-input {
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.dark-mode .text-muted {
  color: #999;
}

input[type="checkbox"]:not(.task-completed) {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  background: #f7f7f7;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(137, 137, 137, 0.5);
  transition: 1s;
}

.dark-mode input[type="checkbox"]:not(.task-completed) {
  background: rgb(97, 19, 170);
}

input[type="checkbox"]:not(.task-completed)::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  box-shadow: 1px 1px 2px rgba(137, 137, 137, 0.5);
}

input[type="checkbox"]:not(.task-completed):checked::before {
  transform: translateX(100%);
  background: #fff;
}

/* CSS for styling the confirmation dialog */
.custom-confirm,
.custom-confirm-all {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  align-items: flex-start;
  justify-content: center;
}

.confirm-content,
.confirm-content-all {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  padding: 30px;
  top: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  color: #000;
}

.confirm-content,
.confirm-content-all p {
  margin-bottom: 20px;
}

#confirm-yes,
#confirm-no,
#confirm-yes-all,
#confirm-no-all {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.7),
    2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

#confirm-yes:hover,
#confirm-no:hover,
#confirm-yes-all:hover,
#confirm-no-all:hover {
  box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0.7),
    1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

#confirm-yes,
#confirm-yes-all {
  color: #1ea41e;
}

#confirm-no,
#confirm-no-all {
  color: #f01f1f;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255, 255, 255, 0.989);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(81, 81, 81, 0.95);
}

body::-webkit-scrollbar-thumb {
  background: rgb(113, 113, 113);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 15px;
  }

  .main {
    width: 100%;
    padding: 2rem;
  }

  .task-form {
    flex-direction: column;
  }

  .task-form .btn {
    width: 100%;
  }

  .list-group {
    margin-top: 1rem;
  }

  .list-group-item {
    padding: 0.3rem;
  }

  .list-group {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .mode-toggle {
  }
}
