/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

/* body {
  position: relative;
  width: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2022/07/31/08/03/to-do-7355222_1280.jpg');

  background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));
  font-family: 'Montserrat', sans-serif;
} */

body {
  font-family: "Young Serif";
  font-weight: 400;
  margin: 30px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #fff;
  /* background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  ); */
  /* background-image: url('https://cdn.pixabay.com/photo/2022/07/31/08/03/to-do-7355222_1280.jpg');  */
  background-size: cover;
  background-position: center;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
.container-xl {
  position: relative;
  width: 100%;
  flex: 1;
  /* Take remaining vertical space */
}

.text {
  font-size: 40px;
  color: rgb(255, 255, 255);
  letter-spacing: 10px;
  border-right: 5px solid black;
  white-space: nowrap;

  animation: typing 5s steps(12) infinite,
    cursor 0.4s step-end infinite alternate;

  overflow: hidden;
  animation-fill-mode: forwards;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 65%;
  }
}

.text-center {
  margin-left: auto;
  margin-right: auto;
}

/* .container.main.mt-3{
  padding-top: 10%;
} */

/* body.light-mode { */
/* background: linear-gradient(
    to right,
    rgba(1, 110, 225),
    rgba(80, 139, 252, 1)
  ); */
/* background-image: url("https://cdn.pixabay.com/photo/2022/07/31/08/03/to-do-7355222_1280.jpg"); Light mode background image
  background-repeat: no-repeat;
  background-size: cover; */
/* } */

body.dark-mode {
  background: #0f0000;

  /* background-image: url("https://cdn.pixabay.com/photo/2022/07/31/08/03/to-do-7355222_1280.jpg"); Dark mode background image (same as light mode) */

  color: #fff;
  /* background-repeat: no-repeat;
  background-size: cover; */
}

body.dark-mode::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.9);
  /* Adjust the alpha (last) value to control darkness */
  z-index: -1;
}

/* Rest of your CSS styles remain unchanged */

/* Rest of your CSS remains unchanged */

/* body.light-mode {
  background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));
} */

/* body.dark-mode {
  background: #232323;
  color: #fff;
} */

/* .container-xl {
  position: relative;
  width: 100%;
  height: 100%;
} */

.main {
  position: relative;
  width: 48rem;
  height: 100%;
  text-align: center;
  padding: 4rem;
  /* background: rgba(0, 0, 0, 0.2); */
  border-radius: 2em;
  backdrop-filter: blur(45px);
  /* border: 10px solid rgba(0, 0, 0, 0.05); */
  background-clip: padding-box;
  /* box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03); */
}

.light-mode .main {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dark-mode .dropdown-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.dark-mode .main {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main {
  position: relative;
  width: 48rem;
  height: 100%;
  text-align: center;
  padding: 4rem;
  border-radius: 2em;
  backdrop-filter: blur(45px);
  background-clip: padding-box;
}

/* .main_form {
  position: relative;
  width: 100%;
  align-items: center;
  background: #fff;
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
} */

.list-group-item {
  font-size: 1.3rem;
  margin: 0.4rem;
  text-align: left;
  border-radius: 1rem !important;
  word-break: break-all;
  word-wrap: break-word;
  padding: 0.75rem;
}

.list-group-item button {
  margin: 0 0.2rem;
  padding: 0.4rem 1rem;
  border-radius: 5rem;
}

.list-group-item button ion-icon {
  pointer-events: none;
}

/* .main_form #item {
  font-size: 1.3rem;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
} */

/* .main_form .form_btn {
  color: #fff;
  letter-spacing: 0.11rem;
  border: none;
  background: linear-gradient(to right,
      rgba(1, 110, 225),
      rgba(80, 139, 252, 1));
  padding: 0.6rem 2rem;
  border-radius: 5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s;
  border: 1px solid #4687f9;
} */

/* .form_btn:hover,
.clear_btn:hover {
  opacity: 0.9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
} */

/* .clear_btn { */
/* color: #fff;
  letter-spacing: 0.11rem;
  border: none;
  background: linear-gradient(to right, rgb(225, 1, 1), rgb(236, 70, 70));
  padding: 0.6rem 2rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: opacity 0.3s;
  margin: 1rem 0;
  display: none; */
/* } */
/* 
.opacity {
  opacity: 0.8;
  outline: auto;
} */

/* .main_form #item::placeholder {
  color: #000000;
  letter-spacing: 0.11rem;
  font-size: 1.2rem;
} */

/* Dropdown Button */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main h2,
h3 {
  /* width: 20rem;

  margin: auto;
  border-bottom: 2px solid #ffffff; */
  font-weight: 600;
}

@media screen and (max-width: 415px) {
  .main_form .form_btn {
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
  }

  .main {
    width: 100%;
    height: 380px;
    padding: 1rem;
  }

  .main_form #item {
    font-size: 1rem;
  }
}

@media (max-width: 960px) {
  .main {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}

.completed {
  text-decoration: line-through;
}

.message {
  width: 300px;
  padding: 15px;
  border: 2px dashed white;
  border-radius: 5px;
  background-color: rgb(34, 148, 34);
  color: white;
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 20px;
  font-size: 18px;
}

.success-message {
  background-color: rgb(34, 148, 34);
}

.danger-message {
  background-color: rgb(242, 27, 27);
}

.form-check-input {
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
}

/* #dueDate {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 156px;
  height: 50px;
  margin-right: 0.8rem;
} */

#dueDate::placeholder {
  color: #fff;
}

/* 
#dueDate:hover {
  border-color: rgba(1, 110, 225);
} */

#dueDate:hover::placeholder {
  color: #fff;
  opacity: 1;
}

.hidden {
  display: none;
}

input[type="checkbox"]:not(.task-completed) {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  background: #000;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(1, 110, 225);
}

input[type="checkbox"]:not(.task-completed)::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

input[type="checkbox"]:not(.task-completed):checked::before {
  transform: translateX(100%);
  background: #fff;
}

/* CSS for styling the confirmation dialog */
.custom-confirm,
.custom-confirm-all {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: flex-start;
  justify-content: center;
}

.confirm-content,
.confirm-content-all {
  background-color: #fff;
  padding: 20px;
  top: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  color: #000;
}

.confirm-content,
.confirm-content-all p {
  margin-bottom: 20px;
}

#confirm-yes,
#confirm-no,
#confirm-yes-all,
#confirm-no-all {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#confirm-yes,
#confirm-yes-all {
  background-color: #5cb85c;
  color: #fff;
}

#confirm-no,
#confirm-no-all {
  background-color: #d9534f;
  color: #fff;
}

/* Rest of your CSS styles remain unchanged */

/* input[type="checkbox"]:not(.task-completed):checked {
    background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));
} */

@media screen and (max-width: 768px) {
  .mode-toggle {
    margin-left: 20px;
  }

  .form_btn {
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }

  .form_btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: auto;
  }
}

@media screen and (max-width: 570px) {
  .form_btn {
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }

  .main_form {
    flex-direction: column;
    border-radius: 2rem;
  }

  .main_form input[type="text"] {
    width: 100%;
    margin: 0.5rem;
  }

  .list-group {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 424px) {
  .main_form input[type="text"] {
    width: 100%;
  }

  .list-group-item button {
    margin: 0;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
  }

  .form_btn {
    padding: 0.7rem 1rem;
    margin: 1rem;
  }

  .list-group {
    margin-top: 1rem;
  }

  #dueDate {
    padding: 0.7rem 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 390px) {
  .list-group-item {
    padding: 0.3rem;
  }

  .list-group {
    margin-top: 1rem;
  }

  .main_form .form_btn {
    font-size: 0.7rem;
    padding: 0.7rem 1rem;
  }

  #dueDate {
    font-size: smaller;
    width: 120px;
    height: 35px;
    margin: auto;
    padding: 0;
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255, 255, 255, 0.989);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(81, 81, 81, 0.95);
}

body::-webkit-scrollbar-thumb {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 5px;
}

/* Preloader Starts */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.writing-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: absolute;
}
.writing-loader * {
  position: absolute;
  color: #0081a7;
}
.writing-loader .file-text {
  color: #0081a7;
  opacity: 0;
  animation: fileAppear-1 8s 0s linear infinite;
  position: absolute;
}
@keyframes fileAppear-1 {
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.writing-loader .pen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
  left: -25px;
  width: 40px;
  height: 40px;
  animation: writing 3s linear infinite;
}
@keyframes writing {
  from {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(100%, 0);
  }
  15% {
    transform: translate(0%, 25%);
  }
  20% {
    transform: translate(100%, 25%);
  }
  25% {
    transform: translate(0%, 50%);
  }
  30% {
    transform: translate(100%, 50%);
  }
  35% {
    transform: translate(0%, 75%);
  }
  40% {
    transform: translate(100%, 75%);
  }
  45% {
    transform: translate(0%, 100%);
  }
  50% {
    transform: translate(100%, 100%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 100%);
    opacity: 0;
  }
}
.writing-loader .pen-container .pen {
  color: #000000;
  font-size: 2.5rem;
}
/* Preloader Ends */
.task-priority-High {
  border-left: 6px solid red; /* Adjust styles for high priority */
}

.task-priority-Medium {
  border-left: 6px solid orange; /* Adjust styles for medium priority */
}

.task-priority-Low {
  border-left: 6px solid green; /* Adjust styles for low priority */
}

option:hover {
  background-color: white;
  color: white;
}

select {
  width: 150px;
}

select option {
  width: 150px;
}
#voice-command-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
